.member_info{
    text-align: center;
    margin: auto;
    width: 500px;
}
.info_list{
    list-style: none;
    border: 3px solid skyblue;
    width: 500px;
    height: min-content 400px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.info{
    margin: 30px;
    border-bottom: 2px solid skyblue;

}
